bin/
OLD
test.avi
output.avi

readWebcam.cxx
saveWebcam.cxx
readVideoFile.cxx
motionDetection.cxx
motionTracking.cxx

readWebcam.py
saveWebcam.py
readVideoFile.py
motionDetection.py
motionTracking.py

change_of_lighting_conditions.avi
one_moving_object.avi
two_moving_objects.avi
