displayImage.py
rgb2grey.py
contrastStretchingManual.py
contrastStretchingCV.py

displayImage.cxx
rgb2grey.cxx
contrastStretchingManual.cxx
contrastStretchingCV.cxx

gaussianFilter.py
sharpen.py
gaussianFilter-trackbar.py
sharpen-trackbar.py

gaussianFilter.cxx
sharpen.cxx
gaussianFilter-trackbar.cxx
sharpen-trackbar.cxx

CMakeLists.txt

bin/
